<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>koa-passport</title>
</head>
<body>
  <form action="/auth/login" method="post">
    <p>
      <label>email:
        <input type="email" name="email" value="" />
      </label>
    </p>
    <p>
      <label>Password:
        <input type="password" name="password" value="" />
      </label>
    </p>
    <p>
      <button type="submit">Log In</button>
    </p>
  </form>

  <a href="/register">sign up</a>
</body>
</html>
